.panel-container {
  display: flex;
  position: relative;
  width: 280px;
  height: 460px;
  align-items: flex-end;
  justify-content: center;
  background-color: #fcfaed;
  border: 1.5px solid #798645;
  border-radius: 10px;
}

.bottle-cap-image {
  height: auto;
  margin-bottom: 80px;
}
