.panel-container {
  display: flex;
  position: relative;
  width: 280px;
  height: 460px;
  align-items: flex-end;
  justify-content: center;
  background-color: #fcfaed;
}

.bottle-cap-image {
  height: auto;
  margin-bottom: 80px;
}

.background-border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
