.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffbe9;
  background-image: url("../images/BackgroundPatternImage.svg");
  background-repeat: repeat;
  background-size: 230px 230px;
  background-position: center;
  margin: 0;
}

.start-title {
  width: 120px;
  height: auto;
}

.start-logo {
  margin-top: 31px;
  width: 77px;
  height: auto;
}

.start-department-input {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 180px;
  padding: 10px;
  font-size: 12px;
  font-family: "Freesentation-4Regular", sans-serif;
  color: #4f5936;
  background-image: url("../images/StartScreen/DepartmentButtonOutline.svg");
  background-size: 100% 100%;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
}
.start-department-input::placeholder {
  color: #4f5936;
}

.main-button {
  display: inline-block;
  width: 130px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 15px;
  font-family: "Freesentation-5Medium", sans-serif;
  color: white;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}

.main-button.lightgreen {
  background-image: url("../images/LightGreenButtonOutline.svg");
}

.main-button.darkgreen {
  background-image: url("../images/DarkGreenButtonOutline.svg");
}

.timer-bar {
  width: 200px;
  height: 7px;
  background-color: white;
  border: 1px solid black;
  overflow: hidden;
}

.timer-bar-fill {
  height: 100%;
  background-color: black;
  transition: width 0.1s linear;
}
