.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/BackgroundImage.svg");
  background-size: cover;
  background-position: center;
}

.start-title {
  margin-top: 10px;
  width: 30%;
  height: auto;
}

.start-logo {
  margin-top: 30px;
  width: 20%;
  height: auto;
}

.start-department-input {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 50%;
  padding: 10px;
  font-size: 12px;
  font-family: "Freesentation-4Regular", sans-serif;
  background-image: url("../images/StartScreen/DepartmentButtonOutline.svg");
  background-size: 100% 100%;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
}
.start-department-input::placeholder {
  color: #4f5936;
}

.main-button {
  display: inline-block;
  width: 35%;
  padding: 10px 0;
  font-size: 15px;
  font-family: "Freesentation-5Medium", sans-serif;
  color: white;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}

.lightgreen-button {
  background-image: url("../images/LightGreenButtonOutline.svg");
}

.darkgreen-button {
  background-image: url("../images/DarkGreenButtonOutline.svg");
}
