.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffbe9;
  background-image: url("../images/BackgroundPatternImage.svg");
  background-repeat: repeat;
  background-size: 230px 230px;
  background-position: center;
  margin: 0;
}

.start-title {
  width: 120px;
  height: auto;
}

.start-logo {
  margin-top: 31px;
  width: 77px;
  height: auto;
}

.start-department-input {
  margin-top: 25px;
  margin-bottom: 20px;
  width: 180px;
  padding: 10px;
  font-size: 12px;
  font-family: "Freesentation-4Regular", sans-serif;
  color: #4f5936;
  background-image: url("../images/StartScreen/DepartmentButtonOutline.svg");
  background-size: 100% 100%;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
  position: relative;
}
.start-department-input::placeholder {
  color: #4f5936;
}

.start-dropdown-list {
  position: absolute;
  width: 180px;
  top: calc(50% + 80px);
  left: calc(50% - 90px);
  background: transparent;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
.start-dropdown-item {
  font-size: 12px;
  font-family: "Freesentation-4Regular", sans-serif;
  color: #4f5936;
  background-color: #fffdf0;
  cursor: pointer;
  border: 1px solid #798645;
  padding: 2.5px;
  margin: 1.5px;
}

.main-button {
  display: inline-block;
  width: 130px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 7px;
  font-size: 15px;
  font-family: "Freesentation-5Medium", sans-serif;
  color: white;
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}

.main-button.lightgreen {
  background-image: url("../images/LightGreenButtonOutline.svg");
}

.main-button.darkgreen {
  background-image: url("../images/DarkGreenButtonOutline.svg");
}

.timer-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 8px;
  background-color: transparent;
  background-image: url("../images/GameScreen/TimerBarImage.svg");
  overflow: hidden;
  margin-bottom: 15px;
}

.timer-bar-fill {
  height: 80%;
  background-color: #798645;
  border-radius: 1px;
  transition: width 0.1s linear;
}

.result-how-calculated {
  font-size: 10px;
  font-family: "Freesentation-5Medium";
  color: #626f47;
  background-color: transparent;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  background: transparent;
  background-image: url("../images/StartScreen/GameDescription.svg");
  width: 300px;
  height: 450px;
  position: relative;
}
.how-calc {
  background: transparent;
  background-image: url("../images/ResultScreen/HowCalculatedImage.svg");
  width: 300px;
  height: 103.2px;
  position: relative;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #798645;
}

.countdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.countdown-text {
  font-size: 12px;
  font-family: "Freesentation-3Light", sans-serif;
  color: #ece8d1;
  margin-top: 20px;
}

.countdown-number {
  font-size: 95px;
  color: #fffbe9;
  font-family: "EF_jejudoldam", sans-serif;
  margin-top: 18px;
  margin-bottom: 60px;
}
